<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
   <script src="/javascripts/jquery-2.1.4.min.js"></script>
   <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <style>
        #row{
            
             margin-top:80px;
        }
   </style>

   </head>
  <body>
        <div class="row" id="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-6 headStyle">